@charset "UTF-8";
/* CSS Document */
* {
    margin:0;
    padding:0;
}
.ui-menu .ui-menu-item{
	 font-size:12px;
}
.ui-dialog .ui-widget .ui-widget-content .ui-corner-all .ui-front .ui-draggable .ui-resizable{
	   position:relative;
	   left:0%;
	   bottom:0%;
}
#website_logo{
	font-size:20px;
}
body{
	background-image:url(image/BG.jpg);
	z-index:-1;
}
#header{
	text-align:center;
	width:100%;
	border-radius:13px;
}

#whole_page_wrapper {
    width:100%;
    height:100%;
}

#top_bar{
    height:50px;
    width:100%;
    background-color:#CCCC33;
    color:black;
}

#website_logo{
    text-align:center;
    float:left;
    width:10%;
    height:100%;
}

#user_info{
    float:right;
    height:100%;
    width:90%;
}

#main_content{
    display:block;
    position:absolute;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    margin-top:50px;
    margin-bottom:50px;
    height:auto;
}
#left_bar{
    text-align:center;
    background-color:#CCCC33;
    color:black;
    float:left;
    width:150px;
    height:100%;
}

#form_area{
    background-color:#FFFFFF;
    border-radius:10px;	
    width:auto;	
    height:100%;
    overflow:hidden;
    overflow-y:auto;
}

#major{
	width:50%;
	heigth:50px;
}

#ap_info{
	float:right;
	width:50%;
	height:50px;
}
#footer{
    height:50px;
    position:absolute;
    bottom:-50px;
    width:100%;
    background-color:yellow;
    clear:left;
}
.ap_add_button{
	width:18px;
	height:18px;
	position:relative;
	top:3px;
}
.ap_remove_button{
	width:22px;
	height:22px;
	position:relative;
	right:3px;
	top:3px;
}
.remove_button{
	width:9%;
	height:22px;
}

.add_button{
	width:7%;
	height:18px;
}
.addInputButton{
	position:relative;
    right:3%;
	top:8px;
}
.courseInputRemove{
	position:relative;
	right:5%;
	top:7px;
}
.courseInputSection{
    float:right;
    width:85%;
    margin-top:0px;
    margin-bottom:0px;
    position:relative;
    right:2%;
}
.courseInput{
	outline:none;
	font-size:12px;
}
.courseCredit{
    font-size:8px;
    float:right;
	margin-top:0px;
	margin-bottom:0px;
    position:relative;
    bottom:-8px;
}

h1.title{
	padding:3%;
	font-size:40px;
}
p.title{
	position:relative;
	top:0;
	text-align:center;
	background-color:#336699;
	color:white;
	font-weight:600;
	padding-top:3%;
	padding-bottom:3%;
	font-size:21px;
	border-radius:9px;
	margin-bottom:3%;
	margin-top:2%;
}
.year{
	overflow:hidden;
	width:100%;
	
}
#main{
	margin:0 auto;
	width:100%;
}

.courseInputWrapper{
	margin:1%;
}
.inputform{ 
    background-color:white;
    float:left;
    border-style:solid;
    width:21%;
    padding:1%;
    margin:0.5%;
    border-radius:12px;
    border-width:2px;
}
.courseInput {
    border-bottom: black 2px solid;
    border-left-style:none;
    border-right-style:none;
    border-top-style:none;
    width:100%;
    padding-top:3%;
}
input[valid = 'true'] {
    background-color:white
}
input[valid = 'false'] {
    background-color:red
}
input[valid = 'na'] {
    background-color:white
}
#error_msg {
    background-color:white;
    overflow:auto;
    z-index:10;
}
.clearfix {
    clear:both;
}
